body {
    background-color: #2c2727;
}

.slides-wrapper {
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}
.slides{
    display: flex;
    width: 400%;
    height: 100%;
    position: relative;
}
.slide {
    width: 25%;
   
    transition: all 1s ease;
}

.slide img {
   width: 100%;
   height: 75%;
   border-radius: 0.5rem;
}
.txt {
    color: #fff;
    font-size: 1.2rem;
    margin-left: 10px;
}
#nav {
    display: flex;
    gap: 0.35rem;
    position: absolute;
    bottom: 3.8rem;
    left: 33rem;
    z-index: 10;
}


 #btn1:checked ~ .slide1 {
    margin-left: 0;
}

#btn2:checked ~ .slide1 {
    margin-left: -600px;
}

#btn3:checked ~ .slide1 {
    margin-left: -1200px;
}

#btn4:checked ~ .slide1 {
    margin-left: -1800px;
}

#nav label {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: 2px solid #ddd;
    cursor: pointer;
   background-color: #ddd;
    opacity: .5;  
    transition: all 1s ease;
}

#nav label:hover {
    opacity: 1;
}
#btn1:checked ~ #nav label:nth-child(1),
#btn2:checked ~ #nav label:nth-child(2),
#btn3:checked ~ #nav label:nth-child(3),
#btn4:checked ~ #nav label:nth-child(4) {
   background: transparent;
}
input {
   position: absolute;
   visibility: hidden;
}